<html>
  <head>
    <style>
      .home{
        position: absolute;
        top:50%;
        left: 28%;
      }
    </style>
  </head>
    <body>  
      <h1 class="home">Welcome to my first Ruby Rails Project </h1>
      
    </body>
</html> 