<!DOCTYPE html>
   <html>
   <head>
    <style>
        .info {
        position: fixed;
        top: 30%;
        left: 1%;
        width: 100%;
        border: 3px solid #73AD21;
        }

        .my-info {
        position: absolute;
        top: 43%;
        left: 2%;
        }
 
        .row {
           padding-top : 30px; 
        }
    </style>
    </head>

    <body>
    <h1 class="main">Main Section</h1>
    <div class="info">
        <h1> About Me </h1>
    </div>
    


    <table class="my-info">
        <tr class="row">
            <th> <h2>SOFTWARE ENGINEER </h2> </th>
                <td>
                    <h3> Code | Debug | Install | Program | Run | System Design | Data Structure | Algorithms | Web Services </h3>
                        <p style={"padding-top" : 2% }>
                        Passionate, focused, motivated, innovative thinker and reliable professional software engineer with 4.5+ years of industry <br></br>
                        experience. My passion is to write clean and scalable code to provide the best possible experience for our customers. <br></br>
                        Expertise in coding, debugging, programming and other systems architecture factors that affect code quality, performance, <br></br>
                        and customer experience system design. I enjoy problem solving creatively. <br></br>
                        </p>
                <td>
        </tr>

    </table>
    </body>
    </html>