<!DOCTYPE html>
   <html>
   <head>
    <style>
        .contact {
        position: fixed;
        top: 30%;
        left: 1%;
        width: 100%;
        border: 3px solid #73AD21;
        }

        .contact-info {
        position: absolute;
        top: 43%;
        left: 2%;
        }
 
        .row {
           padding-top : 30px; 
        }
    </style>
    </head>

    <body>
    <h1 class="main">Main Section</h1>
    <div class="contact">
        <h1> Contact Information</h1>
    </div>
    


    <table class="contact-info">
        <tr class="row">
            <th>Email Address :  </th>
            <td>harshada@gmail.com</td>
        </tr>
        <tr class="row">
            <th>Contact No :  </th> 
            <td>(+1)999-99-9999</td>
        </tr>
    </table>
    </body>
    </html>